@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(40%2c 171%2c 193%2c 1)'%3e%3c/rect%3e%3cpath d='M19 800L819 0L1045.5 0L245.5 800z' fill='url(%23SvgjsLinearGradient1073)'%3e%3c/path%3e%3cpath d='M503.20000000000005 800L1303.2 0L1384.2 0L584.2 800z' fill='url(%23SvgjsLinearGradient1073)'%3e%3c/path%3e%3cpath d='M1372 800L572 0L-65.5 0L734.5 800z' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/path%3e%3cpath d='M942.8 800L142.79999999999995 0L-553.2 0L246.79999999999995 800z' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/path%3e%3cpath d='M840.5112291106464 800L1440 200.51122911064635L1440 800z' fill='url(%23SvgjsLinearGradient1073)'%3e%3c/path%3e%3cpath d='M0 800L599.4887708893536 800L 0 200.51122911064635z' fill='url(%23SvgjsLinearGradient1074)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1073'%3e%3cstop stop-color='rgba(235%2c 239%2c 248%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(235%2c 239%2c 248%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1074'%3e%3cstop stop-color='rgba(235%2c 239%2c 248%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(235%2c 239%2c 248%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

form,
main {
  width: 80%;
  max-width: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1.5rem;
  border-radius: 5px;

  background-color: rgba(27, 27, 27, 0.85);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

main {
    max-width: 550px;
}

input,
select {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;

  color: rgb(163, 229, 255, 0.9);

  border-bottom: rgb(163, 229, 255) solid 1px;
  padding: 0.5rem;
}

select {
  padding-left: 0;
}

option {
  color: #000;
  background-color: rgba(187, 236, 255, 0.9);
}

input::placeholder,
option#select-placeholder {
  color: rgb(163, 229, 255, 0.9);
}

input:focus::placeholder {
  color: transparent;
}

button {
  background-color: rgb(78, 174, 212);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: none;
  width: 80%;

  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;

  transition: ease-in-out 0.4s all;
}

button:hover {
  background-color: rgb(50, 155, 197);
  cursor: pointer;
}

p {
    width: 90%;
}

span {
  font-weight: 600;
  color: rgb(163, 229, 255);
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
